<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Web SMP MUHAMMADIYAH Watukelir</title>
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="assets/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="assets/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="assets/css/style.css">
</head>
<body>

    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous"
        src="https://connect.facebook.net/id_ID/sdk.js#xfbml=1&version=v5.0&appId=326111774167524&autoLogAppEvents=1">
    </script>

     <section>
         <div id="topbar">
             <div class="container">
                 <div class="row">
                     <div class="col-lg-10 col-md-8 col-sm-12">
                         <ul class="top-nav kiri">
                             <li><a href="tel:085773716731"><i class="fas fa-phone"></i> 2147483647</li></a>
                             <li><a href="mailto:arbisyarifudin@gmail.com"><i class="fas fa-envelope"></i>
                                smpmuhkelir@gmail.com</li></a>
                             <li class="headline"><a href="#"><i class="fas fa-bullhorn"></i> Pendaftaran TA 2020/2021
                                     telah dibuka!
                             </li></a>
                         </ul>
                     </div>
                     <div class="col-lg-2 col-md-4 col-sm-12">
                         <ul class="top-nav kanan">
                             <li><a href="#"><i class="fab fa-facebook-f"></i></li></a>
                             <li><a href="#"><i class="fab fa-instagram"></i></li></a>
                             <li><a href="#"><i class="fab fa-youtube"></i></li></a>
                             <li><a href="#"><i class="fab fa-twitter"></i></li></a>
                         </ul>
                     </div>
                 </div> <!-- .row -->
             </div> <!-- .container -->
         </div> <!-- #topbar -->
     </section>

     <header>
         <div id="head">
             <div class="container">
                 <div class="row">
                     <div class="col-md-8">
                         <div class="brand">
                             <a href="index.html">
                                 <img src="assets/img/logo-toga.png" alt="Logo" title="Logo">
                             </a>
                             <div class="brand-title">
                                 <a href="index.html">
                                     <h1>SMP MUHAMMADIYAH WATUKELIR</h1>
                                     <h4>SEKOLAH PENCETAK GENERASI TELADAN DAN BERPESTASI</h4>
                                 </a>
                             </div>
                         </div>
                     </div>
                     <div class="col-md-4 searchbox">
                         <form method="get">
                             <div class="input-group">
                                 <input class="form-control" type="text" name="cari" placeholder="Cari sesuatu..."
                                     aria-label="Tombol Cari " aria-describedby="tombol-cari">
                                 <div class="input-group-append">
                                     <button class="btn btn-utama" id="tombol-cari">Cari</button>
                                 </div>
                             </div>
                         </form>
                     </div>
                 </div>
             </div>
         </div>

         <!-- menu -->
         <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
             <div class="container">
                 <!-- <a class="navbar-brand">Brand</a> -->
                 <button class="navbar-toggler" data-target="#my-nav" data-toggle="collapse" aria-controls="my-nav"
                     aria-expanded="false" aria-label="Toggle navigation">
                     <span class="fa fa-bars"></span> Menu
                 </button>
                 <div id="my-nav" class="collapse navbar-collapse">
                     <ul class="navbar-nav mr-auto">
                         <li class="nav-item active">
                             <a class="nav-link" href="index.html">Beranda</a>
                         </li>
                         <li class="nav-item dropdown">
                             <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown"
                                 aria-haspopup="true" aria-expanded="false">
                                 Profil
                             </a>
                             <div class="dropdown-menu">
                                 <a class="dropdown-item" href="#">Sejarah</a>
                                 <a class="dropdown-item" href="#">Visi dan Misi</a>
                                 <a class="dropdown-item" href="#">Peta Sekolah</a>
                             </div>
                         </li>
                         <li class="nav-item dropdown">
                             <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown"
                                 aria-haspopup="true" aria-expanded="false">
                                 Sarana & Prasarana
                             </a>
                             <div class="dropdown-menu">
                                 <a class="dropdown-item" href="#">Sarana Infrastuktur</a>
                                 <a class="dropdown-item" href="#">Sarana Pembelajaran</a>
                             </div>
                         </li>
                         <li class="nav-item">
                             <a class="nav-link" href="">Ekstrakulikuler</a>
                         </li>
                         <li class="nav-item">
                             <a class="nav-link" href="">Prestasi</a>
                         </li>
                         <li class="nav-item dropdown">
                             <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown"
                                 aria-haspopup="true" aria-expanded="false">
                                 Berita
                             </a>
                             <div class="dropdown-menu">
                                 <a class="dropdown-item" href="list-post.html">Berita Sekolah</a>
                                 <a class="dropdown-item" href="list-post.html">Pengumuman</a>
                                 <a class="dropdown-item" href="list-post.html">Agenda</a>
                                 <a class="dropdown-item" href="list-post.html">Kalender Akademik</a>
                             </div>
                         </li>
                         <li class="nav-item dropdown">
                             <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown"
                                 aria-haspopup="true" aria-expanded="false">
                                 Galeri
                             </a>
                             <div class="dropdown-menu">
                                 <a class="dropdown-item" href="#">Galeri Foto</a>
                                 <a class="dropdown-item" href="#">Video & Dokumentasi</a>
                             </div>
                         </li>
                         <li class="nav-item">
                             <a class="nav-link" href="">Kontak</a>
                         </li>
                     </ul>
                 </div>
             </div>
         </nav>
     </header>

<section>
    <div class="breadcrumb-box clearfix">
        <div class="container">
            <!-- <div class="breadcrumb-title">
                <h3>Berita</h3>
                <p>Berita Terbaru dari Kami</p>
            </div> -->
            <nav aria-label="Page breadcrumb">
                <ol class="breadcrumb brd-detail">
                    <li class="breadcrumb-item active" aria-current="page">Beranda</li>
                    <li class="breadcrumb-item"><a href="berita.html">Berita</a></li>
                    <li class="breadcrumb-item brd-post-title">Latihan Kepemimpinan</li>
                </ol>
            </nav>
            
        </div>
    </div>
</section>

<div class="konten">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-7">
                <section id="post">
                    <div class="container">
                        <article>
                            <div class="section-thumbnail thumb-post">
                                    <img class="img-fluid" src="assets/img/berita1.jpg" alt="Latihan Kepemimpinan">
                                </div>
                            <div class="section-body">
                                <h1 class="section-post-title">Latihan Kepemimpinan
                                </h1>
                                <div class="section-post-meta">
                                    <span><i class="fas fa-user"></i> Oleh: <a href="" class="author">Atrjhon</a></span>
                                    <span><i class="fas fa-clock"></i> 12/12/2023</span>
                                    <span><i class="fas fa-eye"></i> 24  kali</span>
                                    <span><i class="fas fa-comments"></i> <a href="#komentar">0 komentar</a></span>
                                </div>
                                <div class="section-post-content">
                                        <p>(12/12/23) Bati Tuud Koramil 05 Weru Peltu Heri Purwanto dan Sertu 
                                            Hartopo (Babinsa) hadir ditengah-tengah Muhammadiyah Watukelir 
                                            melaksanakan Pelatihan Kepemimpinan OSIS kepada pelajar SMP 
                                            Muhammadiyah Watukelir bertempat di Aula dan Halaman SMP Muhammadiyah 
                                            Watukelir Ds. Jatingarang, Kec. Weru, Kab. Sukoharjo.
                                        </p>

                                        <div class="section-thumbnail thumb-post">
                                    <img class="img-fluid" src="assets/img/berita2.jpg" alt="Latihan Kepemimpinan">
                                </div>

                                        <p>Kegiatan diikuti oleh sekitar 80 Siswa-siswi SMP Muhammadiyah Watukelir 
                                        dengan penuh semangat serta antusias mengikuti mater-materi yang 
                                        diberikan oleh bapak TNI dari Koramil 05 Weru Dim 0726/Sukoharjo tersebut. Hadir serta turut memberikan pendampingan kegiatan Bp. Hasan 
                                        Aziz, S.Pdi Kepala Sekolah SMP Muhammadiyah Watukelir, Guru dan Staf 
                                        pengajar SMP Muhammadiyah Watukelir.
                                        </p>

                                        <p>Kegiatan dibuka dengan menyanyikan Lagu Indonesia Raya dilanjutkan 
                                        dengan Pembacaan Ayat suci Al-Qur’an serta pembacaan Doa. Sementara itu 
                                        dalam sambutannya Kepala Sekolah SMP Muhammadiyah Watukelir berpesan 
                                        kepada seluruh Siswa-siswi yang hadir mengikuti pelatihan agar betul-
                                        betul menyerap ilmu yang diberikan oleh pemateri serta laksanakan 
                                        kegiatan dengan semangat dan hati yang gembira.



                                        Adapun materi pelatihan Kepemimpinan OSIS diloaksanakan di dalam 
                                        ruangan aula oleh Peltu Heri Purwanto dan dilanjutkan latihan PBB di 
                                        halaman SMP Muhammadiyah Watukelir.</p>

                                        <p>“Pelatihan dasar PBB ini untuk membekali para siswa-siswi pada 
                                            kemampuan PBB dasar yang sering dilaksanakan dalam kegiatan-kegiatan 
                                            di dalam sekolah, agar terampil melaksanakan kegiatan yang memerlukan 
                                            keterampilan PBB misalnya upacara bendera dan kepanduan,” ungkap 
                                            Peltu Heri Purwanto.

                                            (Agus Kemplu)</p>
                                    </div> <!-- .section-post-content -->
                                <div class="section-post-share">
                                    <ul class="list-unstyled">
                                        <li>Bagikan:</li>
                                        <li><a href="https://www.facebook.com/sharer/sharer.php?u=demo.woapik.store%2Ftemplate%2Fwebsekolah%2Fdetail-post.html"><i class="fab fa-facebook-f"></i></a></li>
                                        <li><a href="https://twitter.com/intent/tweet?url=demo.woapik.store%2Ftemplate%2Fwebsekolah%2Fdetail-post.html&text=Coba%20lihat"><i class="fab fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fab fa-whatsapp"></i></a></li>
                                         <!-- <li><a href=""><i class="fas fa-ellipsis"></i></a></li> -->
                                    </ul>
                                </div> <!-- .section-post-share -->
                                <div id="komentar">
                                    <div class="fb-comments" data-href="http://127.0.0.1:5500/detail-post.html" data-width="100%" data-numposts="5"></div>
                                </div>
                            </div> <!-- .section-post-content -->
                        </article>
                    </div>  <!-- .container -->
                </section> <!-- section #berita -->
            </div>
            
            <div class="col-lg-4 col-md-5">
            <div class="sidebar">
                <section class="berita-pop">
                    <div class="container">
                        <div class="section-title">
                            <h3>Berita Populer</h3>
                        </div>
                        <div class="section-body">
                            <div class="section-item-timeline">
                                <a href="" class="section-item-timeline-title">Sepuluh Siswa SMA TRAINIT Mewakili DIY Maju Ke Olimpiade Sains Tingkat Nasional</a>
                                <div class="section-item-timeline-meta">
                                    <span><i class="far fa-clock"></i> 20 September 2019</span>
                                    <a href=""><i class="fas fa-user"></i> Admin</a>
                                </div>
                            </div> <!-- .section-item-timeline -->
                            <div class="section-item-timeline">
                                <a href="" class="section-item-timeline-title">Sepuluh Siswa SMA TRAINIT Mewakili DIY
                                    Maju Ke Olimpiade Sains Tingkat Nasional</a>
                                <div class="section-item-timeline-meta">
                                    <span><i class="far fa-clock"></i> 20 September 2019</span>
                                    <a href=""><i class="fas fa-user"></i> Admin</a>
                                </div>
                            </div> <!-- .section-item-timeline -->
                            <div class="section-item-timeline">
                                <a href="" class="section-item-timeline-title">Sepuluh Siswa SMA TRAINIT Mewakili DIY
                                    Maju Ke Olimpiade Sains Tingkat Nasional</a>
                                <div class="section-item-timeline-meta">
                                    <span><i class="far fa-clock"></i> 20 September 2019</span>
                                    <a href=""><i class="fas fa-user"></i> Admin</a>
                                </div>
                            </div> <!-- .section-item-timeline -->
                            <div class="section-item-timeline">
                                <a href="" class="section-item-timeline-title">Sepuluh Siswa SMA TRAINIT Mewakili DIY
                                    Maju Ke Olimpiade Sains Tingkat Nasional</a>
                                <div class="section-item-timeline-meta">
                                    <span><i class="far fa-clock"></i> 20 September 2019</span>
                                    <a href=""><i class="fas fa-user"></i> Admin</a>
                                </div>
                            </div> <!-- .section-item-timeline -->
                            <div class="section-item-timeline">
                                <a href="" class="section-item-timeline-title">Sepuluh Siswa SMA TRAINIT Mewakili DIY
                                    Maju Ke Olimpiade Sains Tingkat Nasional</a>
                                <div class="section-item-timeline-meta">
                                    <span><i class="far fa-clock"></i> 20 September 2019</span>
                                    <a href=""><i class="fas fa-user"></i> Admin</a>
                                </div>
                            </div> <!-- .section-item-timeline -->
                        </div> <!-- .section-body -->
                    </div> <!-- .container -->
                </section>

                <section class="pengumuman">
                    <div class="container">
                        <div class="section-title">
                            <h3>Pengumuman</h3>
                            <div id="pengumuman-nav"></div>
                        </div>
                        <div class="owl-carousel" id="pengumuman-slider">
                            <div class="section-body flex">
                                <div class="section-item-timeline">
                                    <div class="section-item-timeline-img">
                                        <i class="fas fa-bullhorn"></i>
                                    </div>
                                    <div class="section-item-timeline-body">
                                        <a href="" class="section-item-timeline-title">JADWAL PENDALAMAN MATERI KELAS XII
                                            SABTU
                                            26 OKTOBER 2019</a>
                                        <div class="section-item-timeline-meta">
                                            <span><a href=""><i class="fas fa-download"></i> Unduh Berkas</a></span>
                                            <span class="float-right"><i class="far fa-clock"></i> 25/11/2019</span>
                                        </div>
                                    </div>
                                </div> <!-- .section-item-timeline -->
                                <div class="section-item-timeline">
                                    <div class="section-item-timeline-img">
                                        <i class="fas fa-bullhorn"></i>
                                    </div>
                                    <div class="section-item-timeline-body">
                                        <a href="" class="section-item-timeline-title">JADWAL PENDALAMAN MATERI KELAS XII
                                            SABTU
                                            26 OKTOBER 2019</a>
                                        <div class="section-item-timeline-meta">
                                            <span><a href=""><i class="fas fa-download"></i> Unduh Berkas</a></span>
                                            <span class="float-right"><i class="far fa-clock"></i> 25/11/2019</span>
                                        </div>
                                    </div>
                                </div> <!-- .section-item-timeline -->
                                <div class="section-item-timeline">
                                    <div class="section-item-timeline-img">
                                        <i class="fas fa-bullhorn"></i>
                                    </div>
                                    <div class="section-item-timeline-body">
                                        <a href="" class="section-item-timeline-title">JADWAL PENDALAMAN MATERI KELAS XII
                                            SABTU
                                            26 OKTOBER 2019</a>
                                        <div class="section-item-timeline-meta">
                                            <span><a href=""><i class="fas fa-download"></i> Unduh Berkas</a></span>
                                            <span class="float-right"><i class="far fa-clock"></i> 25/11/2019</span>
                                        </div>
                                    </div>
                                </div> <!-- .section-item-timeline -->
                                <div class="section-item-timeline">
                                    <div class="section-item-timeline-img">
                                        <i class="fas fa-bullhorn"></i>
                                    </div>
                                    <div class="section-item-timeline-body">
                                        <a href="" class="section-item-timeline-title">JADWAL PENDALAMAN MATERI KELAS
                                            XII
                                            SABTU
                                            26 OKTOBER 2019</a>
                                        <div class="section-item-timeline-meta">
                                            <span><a href=""><i class="fas fa-download"></i> Unduh Berkas</a></span>
                                            <span class="float-right"><i class="far fa-clock"></i> 25/11/2019</span>
                                        </div>
                                    </div>
                                </div> <!-- .section-item-timeline -->
                                <div class="section-item-timeline">
                                    <div class="section-item-timeline-img">
                                        <i class="fas fa-bullhorn"></i>
                                    </div>
                                    <div class="section-item-timeline-body">
                                        <a href="" class="section-item-timeline-title">JADWAL PENDALAMAN MATERI KELAS
                                            XII
                                            SABTU
                                            26 OKTOBER 2019</a>
                                        <div class="section-item-timeline-meta">
                                            <span><a href=""><i class="fas fa-download"></i> Unduh Berkas</a></span>
                                            <span class="float-right"><i class="far fa-clock"></i> 25/11/2019</span>
                                        </div>
                                    </div>
                                </div> <!-- .section-item-timeline -->
                            </div> <!-- .section-body -->
                            <div class="section-body flex">
                                <div class="section-item-timeline">
                                    <div class="section-item-timeline-img">
                                        <i class="fas fa-bullhorn"></i>
                                    </div>
                                    <div class="section-item-timeline-body">
                                        <a href="" class="section-item-timeline-title">Pengumuman 6</a>
                                        <div class="section-item-timeline-meta">
                                            <span><a href=""><i class="fas fa-download"></i> Unduh Berkas</a></span>
                                            <span class="float-right"><i class="far fa-clock"></i> 25/11/2019</span>
                                        </div>
                                    </div>
                                </div> <!-- .section-item-timeline -->
                                <div class="section-item-timeline">
                                    <div class="section-item-timeline-img">
                                        <i class="fas fa-bullhorn"></i>
                                    </div>
                                    <div class="section-item-timeline-body">
                                        <a href="" class="section-item-timeline-title">Pengumuman 7</a>
                                        <div class="section-item-timeline-meta">
                                            <span><a href=""><i class="fas fa-download"></i> Unduh Berkas</a></span>
                                            <span class="float-right"><i class="far fa-clock"></i> 25/11/2019</span>
                                        </div>
                                    </div>
                                </div> <!-- .section-item-timeline -->
                                <div class="section-item-timeline">
                                    <div class="section-item-timeline-img">
                                        <i class="fas fa-bullhorn"></i>
                                    </div>
                                    <div class="section-item-timeline-body">
                                        <a href="" class="section-item-timeline-title">Pengumuman 8</a>
                                        <div class="section-item-timeline-meta">
                                            <span><a href=""><i class="fas fa-download"></i> Unduh Berkas</a></span>
                                            <span class="float-right"><i class="far fa-clock"></i> 25/11/2019</span>
                                        </div>
                                    </div>
                                </div> <!-- .section-item-timeline -->
                                <div class="section-item-timeline">
                                    <div class="section-item-timeline-img">
                                        <i class="fas fa-bullhorn"></i>
                                    </div>
                                    <div class="section-item-timeline-body">
                                        <a href="" class="section-item-timeline-title">Pengumuman 9</a>
                                        <div class="section-item-timeline-meta">
                                            <span><a href=""><i class="fas fa-download"></i> Unduh Berkas</a></span>
                                            <span class="float-right"><i class="far fa-clock"></i> 25/11/2019</span>
                                        </div>
                                    </div>
                                </div> <!-- .section-item-timeline -->
                                <div class="section-item-timeline">
                                    <div class="section-item-timeline-img">
                                        <i class="fas fa-bullhorn"></i>
                                    </div>
                                    <div class="section-item-timeline-body">
                                        <a href="" class="section-item-timeline-title">Pengumuman 10</a>
                                        <div class="section-item-timeline-meta">
                                            <span><a href=""><i class="fas fa-download"></i> Unduh Berkas</a></span>
                                            <span class="float-right"><i class="far fa-clock"></i> 25/11/2019</span>
                                        </div>
                                    </div>
                                </div> <!-- .section-item-timeline -->
                            </div> <!-- .section-body -->
                        </div> <!--.owl-carousel-->
                    </div> <!-- .container -->
                </section>

                <section class="agenda">
                    <div class="container">
                        <div class="section-title">
                            <h3>Agenda & Kalender</h3>
                            <div id="agenda-nav"></div>
                        </div>
                        <div class="owl-carousel" id="agenda-slider">
                            <div class="section-body flex">
                                <div class="section-item-timeline">
                                    <div class="section-item-timeline-img putih">
                                        <i class="fas fa-calendar-alt"></i>
                                    </div>
                                    <div class="section-item-timeline-body">
                                        <h5>15 Juli 2019</h5>
                                        <h4>Hari Pertama Masuk Tahun Pelajaran 2020/2021</h4>
                                    </div>
                                </div> <!-- .section-item-timeline -->
                                <div class="section-item-timeline">
                                    <div class="section-item-timeline-img putih">
                                        <i class="fas fa-calendar-alt"></i>
                                    </div>
                                    <div class="section-item-timeline-body">
                                        <h5>15 Juli 2019</h5>
                                        <h4>Hari Pertama Masuk Tahun Pelajaran 2020/2021</h4>
                                    </div>
                                </div> <!-- .section-item-timeline -->
                                <div class="section-item-timeline">
                                    <div class="section-item-timeline-img putih">
                                        <i class="fas fa-calendar-alt"></i>
                                    </div>
                                    <div class="section-item-timeline-body">
                                        <h5>15 Juli 2019</h5>
                                        <h4>Hari Pertama Masuk Tahun Pelajaran 2020/2021</h4>
                                    </div>
                                </div> <!-- .section-item-timeline -->
                            </div> <!-- .section-body -->
                            <div class="section-body flex">
                                <div class="section-item-timeline">
                                    <div class="section-item-timeline-img putih">
                                        <i class="fas fa-calendar-alt"></i>
                                    </div>
                                    <div class="section-item-timeline-body">
                                        <h5>15 Juli 2019</h5>
                                        <h4>Hari Pertama Masuk Tahun Pelajaran 2020/2021</h4>
                                    </div>
                                </div> <!-- .section-item-timeline -->
                                <div class="section-item-timeline">
                                    <div class="section-item-timeline-img putih">
                                        <i class="fas fa-calendar-alt"></i>
                                    </div>
                                    <div class="section-item-timeline-body">
                                        <h5>15 Juli 2019</h5>
                                        <h4>Hari Pertama Masuk Tahun Pelajaran 2020/2021</h4>
                                    </div>
                                </div> <!-- .section-item-timeline -->
                                <div class="section-item-timeline">
                                    <div class="section-item-timeline-img putih">
                                        <i class="fas fa-calendar-alt"></i>
                                    </div>
                                    <div class="section-item-timeline-body">
                                        <h5>15 Juli 2019</h5>
                                        <h4>Hari Pertama Masuk Tahun Pelajaran 2020/2021</h4>
                                    </div>
                                </div> <!-- .section-item-timeline -->
                            </div> <!-- .section-body -->
                        </div>
                        <!--.owl-carousel-->
                    </div> <!-- .container -->
                </section>
            </div> <!-- .sidebar -->
            </div>
        </div> <!-- .row -->
    </div> <!-- .container -->

        <section id="galeri">
            <div class="container">
                <div class="section-title">
                    <h2>Galeri / Dokumentasi</h2>
                </div>
                <div class="section-body">
                    <div id="slider-tools-3"></div>
                    <div class="owl-carousel" id="galeri-slider">
                        <div class="section-item-slider">
                            <a href=""><img class="foto-galeri" src="assets/img/galeri-1.jpg" alt=""></a>
                            <div class="section-item-caption">
                                <a href="">
                                    <h5>Kegiatan Outbound 2019</h5>
                                </a>
                                <h6>Kaliboyong Camp, Pakem</h6>
                            </div>
                        </div>
                        <div class="section-item-slider">
                            <a href=""><img class="foto-galeri" src="assets/img/galeri-2.jpeg" alt=""></a>
                            <div class="section-item-caption">
                                <a href="">
                                    <h5>Album Ujian Nasional 2019</h5>
                                </a>
                                <h6>SMA N 404 Trainit, Wetanprogo</h6>
                            </div>
                        </div>
                        <div class="section-item-slider">
                            <div class="video-wrapper video-galeri">
                                <iframe src="https://www.youtube.com/embed/n0Q_XQgvaJQ" frameborder="0"
                                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                    allowfullscreen></iframe>
                            </div>
                            <div class="section-item-caption">
                                <a href="">
                                    <h5>Video Dokumentasi Reuni Akbar</h5>
                                </a>
                                <h6>GOR SMA N 404 Trainit</h6>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tombol-selengkapnya">
                    <a href="list-post.html" class="btn btn-more">Lihat Galeri Lainnya</a>
                </div>
            </div>
        </section>
</div> <!-- konten -->

<div id="scroll-to-top">
    <a href="#topbar"><i class="fas fa-angle-up"></i></a>
</div>

<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-md-12 col-sm-12">
                <div class="footer-col">
                    <div class="brand">
                        <img src="assets/img/logo-toga.png" alt="Logo">
                        <h1>SMA Negeri 404 Teladan Jogja</h1>
                    </div>
                    <p class="tentang">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy
                        eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero
                        eos et accusam et justo duo dolores et ea rebum.</p>
                    <ul class="sosmed">
                        <li><a href=""><i class="fab fa-facebook-f"></i></a></li>
                        <li><a href=""><i class="fab fa-instagram"></i></a></li>
                        <li><a href=""><i class="fab fa-youtube"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 col-md-12 col-sm-12">
                <div class="footer-col">
                    <h2>Kontak Kami</h2>
                    <p class="alamat">Jl. Cuwiri No.10, Pakuncen, Kalasan, Wetanprogo, Daerah Istimewa Yogyakarta
                        54362</p>
                    <ul class="kontak">
                        <li><i class="fas fa-phone"></i> Telp/Fax : 0234 - 56789 -123</li>
                        <li><i class="fas fa-envelope"></i> Email : humas@sma404jogja.com</li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-12 col-sm-12">
                <div class="footer-col">
                    <h2>Navigasi</h2>
                    <ul class="footer-nav">
                        <li><a href="">Profil</a></li>
                        <li><a href="">Visi dan Misi</a></li>
                        <li><a href="">Struktur Organisasi</a></li>
                        <li><a href="">Sumber Daya Manusia</a></li>
                        <li><a href="">Pendaftaran PPDB 2020 <span>info</span></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div> <!-- .container -->
    <div class="footer-copyright">
        <div class="container text-center">
            <h6><a href="#">yourdomain.sch.id</a> &copy; 2020 - All right reserved.</h6>
            <span class="credit">Designed by <a target="_blank" href="https://facebook.com/arbisyarifudin">Arbi Syarifudin</a></span>
        </div>
    </div>
</footer>


    

    <script src="assets/js/jquery-3.3.1.slim.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/owl.carousel.min.js"></script>
    <script src="assets/js/main.js"></script>
    <script>
        $(document).ready(function () {
            jQuery(function () {
                jQuery(this).bind("contextmenu", function (event) {
                    event.preventDefault();
                    // alert('Right click is forbidden!')
                });
            });
        });
    </script>
</body>
</html>