<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Web SMP MUHAMMADIYAH Watukelir</title>
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="assets/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="assets/fontawesome/css/all.min.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/photoswipe/4.1.2/photoswipe.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/photoswipe/4.1.2/default-skin/default-skin.css">

    <link rel="stylesheet" href="assets/css/style.css">
</head>

<body>

    <section>
        <div id="topbar">
            <div class="container">
                <div class="row">
                    <div class="col-lg-10 col-md-8 col-sm-12">
                        <ul class="top-nav kiri">
                            <li><a href="tel:085773716731"><i class="fas fa-phone"></i> 2147483647</li></a>
                            <li><a href="mailto:arbisyarifudin@gmail.com"><i class="fas fa-envelope"></i>
                                    smpmuhkelir@gmail.com</li></a>
                            <li class="headline"><a href="#"><i class="fas fa-bullhorn"></i> Pendaftaran TA 2025/2026
                                    telah dibuka!
                            </li></a>
                        </ul>
                    </div>
                    <div class="col-lg-2 col-md-4 col-sm-12">
                        <ul class="top-nav kanan">
                            <li><a href="#"><i class="fab fa-facebook-f"></i></li></a>
                            <li><a href="#"><i class="fab fa-instagram"></i></li></a>
                            <li><a href="#"><i class="fab fa-youtube"></i></li></a>
                            <li><a href="#"><i class="fab fa-twitter"></i></li></a>
                        </ul>
                    </div>
                </div> <!-- .row -->
            </div> <!-- .container -->
        </div> <!-- #topbar -->
    </section>

    <header>
        <div id="head">
            <div class="container text-center">
                <div class="row justify-content-center">
                    <div class="col-md-8">
                        <div class="brand">
                            <a href="index.html">
                                <img src="assets/img/logo-toga.png" alt="Logo" title="Logo">
                            </a>
                            <div class="brand-title">
                                <a href="index.html">
                                    <h1>SMP MUHAMMADIYAH WATUKELIR</h1>
                                    <h4>SEKOLAH PENCETAK GENERASI TELADAN DAN BERPESTASI</h4>
                                </a>
                            </div>
                        </div>
                    </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

         <!-- menu -->
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <div class="container">
                <!-- <a class="navbar-brand">Brand</a> -->
                <button class="navbar-toggler" data-target="#my-nav" data-toggle="collapse" aria-controls="my-nav"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="fa fa-bars"></span> Menu
                </button>
                <div id="my-nav" class="collapse navbar-collapse">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="index.html">Beranda</a>
                        </li>
                        <li class="navbar-nav mr-auto">
                            <a class="nav-item active">
                                <a class="nav-link" href="profile.html">Profile</a>
                            </a>    
                        </li>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="saranadanprasarana.html">Sarana dan prasarana</a>
                        </li>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="Extrakulikuler.html">Ekstrakulikuler</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-item active">
                                <a class="nav-link" href="Prestasi.html">Prestasi</a>
                            </a>
                        <li class="nav-item dropdown">
                            <a class="nav-item active">
                                <a class="nav-link" href="berita.html">Berita</a>
                            </a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="list-post.html">Berita Sekolah</a>
                                <a class="dropdown-item" href="list-post.html">Pengumuman</a>
                                <a class="dropdown-item" href="list-post.html">Agenda</a>
                                <a class="dropdown-item" href="list-post.html">Kalender Akademik</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="galeri.html">Galeri</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="Kontak.html">Kontak</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <section>
    <div class="breadcrumb-box clearfix">
        <div class="container">
            <div class="breadcrumb-title">
                <h3>Kontak</h3>
                <p>Hubungi SMP Muhammadiyah Watukelir</p>
            </div>
            <nav aria-label="Page breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item active" aria-current="page">Beranda</li>
                    <li class="breadcrumb-item">Kontak</li>
                </ol>
            </nav>
        </div>
    </div>
</section>

<div class="konten">
    <div class="container">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header bg-white">
                    <h4><i class="fas fa-envelope mr-1"></i> Kontak Kami</h4>
                </div>
                <div class="card-body">
                    <p>Silakan hubungi kami melalui informasi di bawah ini atau isi formulir kontak untuk pertanyaan lebih lanjut.</p>
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <h5><i class="fas fa-map-marker-alt"></i> Alamat</h5>
                            <p>Watukelir, Jatingarang, Kec. Weru, Kab. Sukoharjo, Jawa Tengah 57562</p>

                            <h5><i class="fas fa-phone"></i> Telepon</h5>
                            <p>0273 5331415</p>

                            <h5><i class="fas fa-envelope"></i> Email</h5>
                            <p><a href="mailto:smpmuhkelir@gmail.com">smpmuhkelir@gmail.com</a></p>

                            <h5><i class="fas fa-map"></i> Lokasi di Peta</h5>
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3955.123456789!2d110.7686!3d-7.7898!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2e7a123456789abc%3A0xabcdef123456789!2sSMP%20Muhammadiyah%20Watukelir!5e0!3m2!1sen!2sid!4v1612345678901!5m2!1sen!2sid" width="100%" height="300" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                        </div>

                        <div class="col-md-6">
                            <h5><i class="fas fa-paper-plane"></i> Formulir Kontak</h5>
                            <form action="#" method="POST">
                                <div class="form-group">
                                    <label for="name">Nama</label>
                                    <input type="text" class="form-control" id="name" name="name" required>
                                </div>
                                <div class="form-group">
                                    <label for="email">Email</label>
                                    <input type="email" class="form-control" id="email" name="email" required>
                                </div>
                                <div class="form-group">
                                    <label for="message">Pesan</label>
                                    <textarea class="form-control" id="message" name="message" rows="4" required></textarea>
                                </div>
                                <button type="submit" class="btn btn-primary">Kirim</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div> <!-- .card -->
        </div>
    </div> <!-- .container -->
</div>




    </div>

    <div id="scroll-to-top">
        <a href="#topbar"><i class="fas fa-angle-up"></i></a>
    </div>

    <div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">

        <!-- Background of PhotoSwipe.
      	It's a separate element as animating opacity is faster than rgba(). -->
        <div class="pswp__bg"></div>

        <!-- Slides wrapper with overflow:hidden. -->
        <div class="pswp__scroll-wrap">

            <!-- Container that holds slides.
                    PhotoSwipe keeps only 3 of them in the DOM to save memory.
                    Don't modify these 3 pswp__item elements, data is added later on. -->
            <div class="pswp__container">
                <div class="pswp__item"></div>
                <div class="pswp__item"></div>
                <div class="pswp__item"></div>
            </div>

            <!-- Default (PhotoSwipeUI_Default) interface on top of sliding area. Can be changed. -->
            <div class="pswp__ui pswp__ui--hidden">
                <div class="pswp__top-bar">
                    <!--  Controls are self-explanatory. Order can be changed. -->
                    <div class="pswp__counter"></div>
                    <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>
                    <button class="pswp__button pswp__button--share" title="Share"></button>
                    <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>
                    <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>

                    <!-- Preloader demo https://codepen.io/dimsemenov/pen/yyBWoR -->
                    <!-- element will get class pswp__preloader--active when preloader is running -->
                    <div class="pswp__preloader">
                        <div class="pswp__preloader__icn">
                            <div class="pswp__preloader__cut">
                                <div class="pswp__preloader__donut"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                    <div class="pswp__share-tooltip"></div>
                </div>
                <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)">
                </button>
                <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)">
                </button>
                <div class="pswp__caption">
                    <div class="pswp__caption__center"></div>
                </div>
            </div>
        </div>
    </div>

    <div id="scroll-to-top">
        <a href="#topbar"><i class="fas fa-angle-up"></i></a>
    </div>

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-md-12 col-sm-12">
                    <div class="footer-col">
                        <div class="brand">
                            <img src="assets/img/logo-toga.png" alt="Logo">
                            <h1>SMP MUHAMMADIYAH WATUKELIR Teladan</h1>
                        </div>
                        <p class="tentang">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy
                            eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero
                            eos et accusam et justo duo dolores et ea rebum.</p>
                        <ul class="sosmed">
                            <li><a href=""><i class="fab fa-facebook-f"></i></a></li>
                            <li><a href=""><i class="fab fa-instagram"></i></a></li>
                            <li><a href=""><i class="fab fa-youtube"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12 col-sm-12">
                    <div class="footer-col">
                        <h2>Kontak Kami</h2>
                        <p class="alamat">Watukelir, Jatingarang, Kec. Weru, Kabupaten Sukoharjo, Jawa Tengah 57562</p>
                        <ul class="kontak">
                            <li><i class="fas fa-phone"></i> Telp/Fax : 2147483647</li>
                            <li><i class="fas fa-envelope"></i> Email : smpmuhkelir@gmail.com</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-12 col-sm-12">
                    <div class="footer-col">
                        <h2>Navigasi</h2>
                        <ul class="footer-nav">
                            <li><a href="">Profil</a></li>
                            <li><a href="">Visi dan Misi</a></li>
                            <li><a href="">Struktur Organisasi</a></li>
                            <li><a href="">Sumber Daya Manusia</a></li>
                            <li><a href="">Pendaftaran PPDB 2020 <span>info</span></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div> <!-- .container -->
        <div class="footer-copyright">
            <div class="container text-center">
                <h6><a href="#">smpmuhkelir.co.id</a> &copy; 2025 - All right reserved.</h6>
                <span class="credit">Designed by <a target="_blank" href="https://facebook.com/arbisyarifudin">Bayu Setia Abi</a></span>
            </div>
        </div>
    </footer>



    <script src="assets/js/jquery-3.3.1.slim.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/owl.carousel.min.js"></script>
    <script src="assets/js/main.js"></script>
    <script>
        $(document).ready(function () {
            jQuery(function () {
                jQuery(this).bind("contextmenu", function (event) {
                    event.preventDefault();
                    // alert('Right click is forbidden!')
                });
            });
        });
    </script>

</body>

</html>